pterms.db
reviews.db
rterms.db
scores.db
rterms-sorted.txt
pterms-sorted.txt
scores-sorted.txt
reviews-sorted.txt
rterms-final.txt
pterms-final.txt
scores-final.txt
reviews-final.txt
create_index.py
.vscode